/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.responsive-conatiner {
  width: 80%;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .responsive-conatiner {
    max-width: 1140px;
  }
}
.money-manager-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  height: 172px;
  margin-top: 64px;
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .money-manager-container {
    align-items: flex-start;
    padding: 48px;
  }
}

.heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #475569;
  font-size: 24px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 32px;
  }
}

.header-content {
  font-family: 'Roboto';
  color: #475569;
  font-size: 14px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .header-content {
    font-size: 18px;
  }
}

.money-manager-text {
  color: #0b69ff;
  font-weight: 500;
}

.transaction-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .transaction-details {
    flex-direction: row;
  }
}

.transaction-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 424px;
  width: 100%;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .transaction-form {
    width: 40%;
    padding-left: 48px;
    padding-right: 48px;
  }
}

.transaction-header {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #475569;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .transaction-heading {
    font-size: 22px;
  }
}

.label {
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #7e858e;
  line-height: 1.4px;
  margin-bottom: 0px;
}

.input {
  color: #1e293b;
  background-color: #ffffff;
  border: 1px solid #d7dfe9;
  font-family: 'Roboto';
  border-radius: 2px;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 157px;
  outline: none;
}

.add-btn {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  min-width: 25px;
  border-radius: 6px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.history-transactions {
  width: 100%;
  min-height: 326px;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .history-transactions {
    width: 55%;
    min-height: 424px;
    padding-top: 24px;
    padding-left: 28px;
    padding-right: 41px;
    padding-bottom: 40px;
    margin-top: 0px;
    margin-left: 32px;
  }
}

.transactions-table-container {
  height: 100%;
  border-radius: 8px;
}

.transactions-table {
  padding-left: 0px;
  margin: 0;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .table-header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.table-header-cell{
  color: #334155;
  width: 30%;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  border-right: none;
}

@media screen and (min-width: 768px){
  .table-header-cell{
    font-size: 16px;
  }
}